<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="referenceType.Model" name="m1">
		<property name="id" value="1"/>
		<property name="name" value="java"/>
		<property name="address" ref="a1"/>
	</bean>
	<bean class="referenceType.Address" name="a1">
		<property name="hno" value="1221"/>
		<property name="street" value="cg road"/>
	</bean>
	
	<bean class="referenceType.Address" name="a2">
		<property name="hno" value="1221"/>
		<property name="street" value="cg road"/>
	</bean>
	
</beans>